@font-face {
  font-family: "HK Grotesk";
  src: url(assets/hk-grotesk.woff2), url(assets/hk-grotesk.woff);
}

body {
  font-family: "HK Grotesk", Arial;
  font-size: 36px;
  line-height: 1.25;

  background-color: #ffffff;
  color: #333333;
}

h1 {
  font-size: 36px;
}

header {
  position: fixed;
  top: 36px;
  left: 36px;
  z-index: 1;
  transform: color 0.5s;
}

header.white {
  color: #ffffff;
}

div.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 10px;
  background-color: #333333;
  z-index: 1;
  transition: background-color 0.5s;
}

div.progress.white {
  background-color: #ffffff;
}

section {
  background-color: #c8dee0;
  min-height: 100vh;
  padding: 80px;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.content {
  position: relative;
}

div.content img {
  position: relative;
}

div.square {
  width: 100px;
  height: 100px;
  background-color: #7cc8db;

  position: absolute;
  top: 50px;
  left: -50px;
}

div.circle {
  width: 100px;
  height: 100px;
  background-color: #3b5094;
  border-radius: 50%;

  position: absolute;
  bottom: 50px;
  right: -50px;
}

section.s2 {
  background-color: #c5c5c5;
}

section.s2 div.square {
  background-color: #86837a;
}

section.s2 div.circle {
  background-color: #6e6d6d;
}

section.s3 {
  background-color: #463f3f;
}

section.s3 div.square {
  background-color: #805780;
}

section.s3 div.circle {
  background-color: #6e5f67;
}

section.s4 {
  background-color: #a8dbe2;
}

section.s4 div.square {
  background-color: #135b68;
}

section.s4 div.circle {
  background-color: #5982a0;
}

section.s5 {
  background-color: #c0ecc6;
}

section.s5 div.square {
  background-color: #d6ac35;
}

section.s5 div.circle {
  background-color: #33b163;
}

section.s6 {
  background-color: #cad6fa;
}

section.s6 div.square {
  background-color: #746285;
}

section.s6 div.circle {
  background-color: #4f3974;
}

section.s7 {
  background-color: #f5f4af;
}

section.s7 div.square {
  background-color: #d3ca76;
}

section.s7 div.circle {
  background-color: #c7a446;
}

section.s8 {
  background-color: #8a7a75;
}

section.s8 div.square {
  background-color: #887a64;
}

section.s8 div.circle {
  background-color: #695b4e;
}

section.s9 {
  background-color: #ebc1ce;
}

section.s9 div.square {
  background-color: #db9898;
}

section.s9 div.circle {
  background-color: #b13d50;
}

section.s10 {
  background-color: #bea0a0;
}

section.s10 div.square {
  background-color: #cf9a9a;
}

section.s10 div.circle {
  background-color: #9b3a4a;
}

footer.ami {
  font-size: 16px;
  text-align: center;
  color: #333333;
}

footer.ami a {
  text-decoration: none;
  color: #333333;
  transition: color 0.5s;
}

footer.ami a:hover {
  color: #5982a0;
}
